/*发起申诉步骤*/
i.fa-star {
	color: #FF9933;
}
.appeal-time-base {
	text-algin: center;
}
.appeal-time-base ul {
	margin: 0px auto;
	overflow: hidden;
	padding: 0;
}
.appeal-time-base ul li {
	list-style: none;
	margin-left: 0 !important;
	text-align: center;
	width: 24.11111%;
	float: left;
}
.appeal-time-base .step-no {
	margin-top: 10px;
	color: #fff;
	font-size: 18px;
	height: 34px;
	line-height: 34px;
	background: url("../images/order-time-base.png") no-repeat scroll 50% -102px;
}
.appeal-time-base .step-first .step-done .step-no {
	background-position: 50% -204px;
}
.appeal-time-base .step-first .step-cur .step-no {
	background-position: 50% -34px;
}
.appeal-time-base .step-done .step-no {
	background-position: 50% -170px;
}
.appeal-time-base .step-cur .step-no {
	background-position: 50% 0;
}
.appeal-time-base .step-last .step-no {
	background-position: 50% -136px;
}
.appeal-time-base .step-last .step-cur .step-no {
	background-position: 50% -68px;
}


/*发起申诉中用户评论*/
.appeal_top{
	border: 1px solid #CACACA;
	border-radius:5px;
}
.appeal-thumb {
    width: 90px;
    float: left;
}
.appeal-thumb img {
	border: 3px solid #bdc3c7;
	width: 80px;
	height: 80px;
    border-radius: 100%;
    -webkit-border-radius: 100%;
       -moz-border-radius: 100%;
        -ms-border-radius: 100%;
         -o-border-radius: 100%;
}
.appeal-thumb-details {
    display: inline-block;
    margin: 20px 0 0 10px;
}
.appeal-thumb-details h1{
    color: #000000;
    font-size: 16px;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
.appeal-thumb-details p{
    padding-top: 5px;
    color: #000000;
}
.appeal-thumb-details span{
   margin-left: 50px;
}
.appeal-goods img {
	width: 50px;
	height: 50px;
}
.appeal_bottom h4{
	margin-top: 25px;
	margin-bottom: 25px;
}
.appeal-content img {
	width: 50px;
	height: 50px;
	margin-bottom: 10px;
}

/*发起申诉中图片上传样式*/
.z_photo {
	margin-bottom: 100px;
}

.z_photo img {
	width: 50px;
	height: 50px;
}

.z_addImg {
	float: left;
	margin-right: 5px;
}

.z_file {
	width: 60px;
	height: 60px;
	background: url("../images/appeal_pic.png") no-repeat;
	float: left;
	margin-right: 5px;
}

.z_file input{
	opacity: 0;
	width: 60px;
	height: 60px;
}





   
/*遮罩层*/
.z_mask {
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, .5);
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	display: none;
}

.z_alert {
	background: #fff none repeat scroll 0 0;
    border-radius: 15px;
    font-size: 14px;
    height: 120px;
    left: 40%;
    margin-left: 14px;
    margin-top: 2px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 300px;
}


.z_alert p:nth-child(2) span {
	border-top: 1px solid #ddd;
    display: inline-block;
    float: left;
    height: 42px;
    line-height: 40px;
    width: 49%;
}

.z_alert p{
margin: 29px 0 25px;
}


.z_cancel {
	border-right: 1px solid #ddd;
}

